body {
  background:#bcffb670;

}

#logo-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 10px auto;
  background-color: #25d366;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 2);
}


#logo-container img {
  max-width: 100%;
  max-height: 100%;
}

#chat-container {
  width: 60%;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  padding: 20px;
}

#chat-container p {
  font-size: 2rem;
  margin: 10px 0;
  color: #25d366;
  text-align: center;
  font-weight:bold;
}

#chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  
}

#chat-input textarea {
  width: 80%;
  height: 60px;
  font-size: 1.2rem;
  
  padding: 10px;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
}

#chat-input button {
  width: 15%;
  height: 60px;
  background-color: #25d366;
  border: none;
  border-radius: 50px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: 50px;
}

#chat-input button:hover {
  background-color: #128c7e;
}

@media screen and (max-width: 768px) {
  #chat-container {
    width: 95%;
  }
}

#send-button {
  width: 10%;
  height: auto;
  padding: 10px;
  background-color: #25d366;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


